/*
  Welcome to Compass.
  In this file you should write your main styles. (or centralize your imports)
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";
@import "compass/css3";
@import "compass/reset";

/* Mise en place des polices */

    /* Champagne et Limousines Bold Italic */
@include font-face ("ChampLimBoldItalic", font-files("/fonts/champagne__limousines_bold_italic-webfont.eot",  "/fonts/champagne__limousines_bold_italic-webfont.ttf", "/fonts/champagne__limousines_bold_italic-webfont.woff",  "/fonts/champagne__limousines_bold_italic-webfont.woff2"));

@include font-face ("ChampLimBold", font-files("/fonts/champagne__limousines_bold-webfont.eot", "/fonts/champagne__limousines_bold-webfont.ttf", "/fonts/champagne__limousines_bold-webfont.woff", "/fonts/champagne__limousines_bold-webfont.woff2"));

@include font-face ("ChampLimItalic", font-files("/fonts/champagne__limousines_italic-webfont.eot", "/fonts/champagne__limousines_italic-webfont.ttf", "/fonts/champagne__limousines_italic-webfont.woff", "/fonts/champagne__limousines_italic-webfont.woff2"));

@include font-face ("ChampLim", font-files("/fonts/champagne__limousines-webfont.eot", "/fonts/champagne__limousines-webfont.ttf",  "/fonts/champagne__limousines-webfont.woff", "/fonts/champagne__limousines-webfont.woff2"));

    /* Parade */
@include font-face ("Parade", font-files("/fonts/parade-one-webfont.eot", "/fonts/parade-one-webfont.ttf", "/fonts/parade-one-webfont.woff", "/fonts/parade-one-webfont.woff2"));


/* Défintion des variables */
$fontTitle : 'Parade';
$fontText : 'ChampLim';
$fontBold : 'ChampLimBold';
$fontItalic : 'ChampLimItalic';

$colorBG : #F0E6D4;
$colorFont : #877E6E;
$colorBanSup : #CCBEA6;
$colorBanInf : #E1D7C7;
$colorTonique : #93C820;

/* Page */
body {
    background-color: $colorBG;
    color: $colorFont;
    font-family: $fontText;
    display: flex;
    flex-direction: column;
}
main {
    min-height: 90vh;
}

/* Textes */
h1, h2, h3, h4, h5, h6, h7 {
    font-family: $fontTitle;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.25em;
}
em {
    font-family: $fontItalic;
}
strong {
    font-family: $fontBold;
}
a {
    color: $colorFont;
    font-family: $fontText;
    text-decoration: none;
    font-style: normal;
}
a:hover {
    color: $colorTonique;
    font-family: $fontItalic;
}
a:visited {
    color: $colorTonique;
}

/* Bannière supérieure */
#banSup {
    background-color: $colorBanSup;
}
#wooding{
    height: 3em;
    background-image: url(/assets/css/img/wooding.png);
    background-size: 100% 200%;
    background-color: rgba(0,0,0,0.50);
}

/* Menu */
#primaryMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em;
}
#accueilLink {
    display: flex;
    align-self: center;
    width: 35%;
    padding-left:9em;
    background-image: url(/assets/css/img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 100px;
}
#titreGlobal {
    font-size: 35px;
}
#secondaryMenu {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.firstElementSecondaryMenu {
    min-width: 134px;
}
.firstElementSecondaryMenu a {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.firstElementSecondaryMenu img {
    width: 75px;
    height: 75px;
}
.menu-btn {
    display: none;
}
.menu-btn span {
    display: block;
    width: 50px;
    height: 10px;
    margin: 5px 0;
    background: $colorFont;
    z-index: 99;
}
.mobile-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Corps de la page */


/* Bannière inférieure */
footer {
    padding-top: 3em;
    background-image: url(/assets/css/img/footer.png);
    background-size: 100% 100%;
    display: flex;
    flex-direction: row;
}
#banInfLeft {
    border-right: 0.25em solid $colorTonique;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1em;
}
#banInfRight {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1em;
}
#banInfRight p {
    text-align: center;
}
footer div {
    width: 50%;
}
#plan {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


/* Media Queries */

@media screen and (max-width: 1250px) {
    #titreGlobal {
        display: none;
    }
}
@media screen and (max-width: 1000px) {
    .menu-btn {
        display: flex;
        flex-direction: column;
        align-items:center;
    }
    .responsive-menu {
        display: none;
    }
    .mobile-nav {
        margin-right: 5%;
    }
    #primaryMenu {
        background-position: 5% 5%;
    }
    #secondaryMenu {
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 750px) {
    footer {
        flex-direction: column;
    }
    footer div {
        width: 100%;
    }
    #banInfLeft {
        border-right: 0px solid black;
        border-bottom: 0.25em solid $colorTonique;
    }
    #banInfRight {
        padding: 1em;
    }
}