/*
  Welcome to Compass.
  In this file you should write your main styles. (or centralize your imports)
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";
@import "compass/css3";
@import "compass/reset";


/* Défintion des variables */
    $font : 'Roboto';

    $colorBG : #F0E6D4;
    $colorFont : #877E6E;
    $colorBanSup : #CCBEA6;
    $colorBanInf : #E1D7C7;
    $colorTonique : #93C820;
    $colorTonFont : #5E7F14;

/* Gloabl */
    body {
        background-color: $colorBG;
        color: $colorFont;
        font-family: $font;
        display: flex;
        flex-direction: column;
    }
    main {
        min-height: 70vh;
        margin-top: 2em;
        margin-left: 10%;
        margin-right: 10%;
        padding-left: 1em;
        padding-right: 1em;
        border: 15px solid $colorFont;
        border-top: 0px solid $colorFont;
        border-bottom: 0px solid $colorFont;
        border-image: url(/assets/css/img/hedge.jpg) 42 round stretch;
    }

    /* Textes */
    h1, h2, h3, h4, h5, h6, h7 {
        font-family: $font;
        text-transform: uppercase;
        font-weight: 900;
        padding-top: 1em;
        padding-bottom: 1em;
        padding-left: 0.25em;
    }
    em {
        font-family: $font;
        font-style: italic;
    }
    strong {
        font-family: $font;
        font-weight: 700;
    }
    a {
        color: $colorFont;
        font-family: $font;
        text-decoration: none;
        font-style: normal;
    }
    a:hover {
        color: $colorTonFont;
        font-family: $font;
        font-style: italic;
    }
    a:visited {
        color: $colorTonFont;
    }

    /* Bannière supérieure */
        #banSup {
            background-color: $colorBanSup;
        }
        #wooding{
            height: 3em;
            background-image: url(/assets/css/img/wooding.png);
            background-size: 100% 200%;
            background-color: rgba(0,0,0,0.50);
        }

        /* Menu */
        #primaryMenu {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 1em;
        }
        #accueilLink {
            display: flex;
            align-self: center;
            width: 35%;
            padding-left:9em;
            background-image: url(/assets/css/img/logo.png);
            background-size: contain;
            background-repeat: no-repeat;
            min-height: 100px;
        }
        #titreGlobal {
            font-size: 35px;
        }
        #secondaryMenu {
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0;
            list-style: none;
        }
        .firstElementSecondaryMenu {
            min-width: 134px;
        }
        .firstElementSecondaryMenu a {
            padding: 1em;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .firstElementSecondaryMenu img {
            width: 75px;
            height: 75px;
        }
        .menu-btn {
            display: none;
        }
        .menu-btn span {
            display: block;
            width: 50px;
            height: 10px;
            margin: 5px 0;
            background: $colorFont;
            z-index: 99;
        }
        .mobile-nav {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

    /* Bannière inférieure */
        footer {
            padding-top: 3em;
            background-image: url(/assets/css/img/footer.png);
            background-size: 100% 100%;
            display: flex;
            flex-direction: row;
        }
        #banInfLeft {
            border-right: 0.25em solid $colorTonique;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 1em;
        }
        #banInfRight {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 1em;
        }
        #banInfRight p {
            text-align: center;
        }
        footer div {
            width: 50%;
        }
        #plan {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }

/* Page d'Accueil */
    /* Sliders */
        .flexslider {
            background-color: inherit;
            border: inherit;
            margin: 0;
            font-family: inherit;
            position: relative;
        }
        /* Images */
            #slider {
                max-height: 600px;
                overflow: hidden;
            }
            #imgbox {
                max-height: 400px;
                overflow: hidden;
            }
            #dataGalery {
                background-color: rgba(0,0,0,.5);
                color: whitesmoke;
                width: 96%;
                padding: 2%;
                left: 0;
                bottom: 0;
                text-shadow: 0 -1px 0 rgba(0,0,0,.3);
                font-size: 14px;
                line-height: 18px;
            }
        /* Commentaires */
            #comSlide {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            #comTxt {
                font-size: 35px;
                padding: 0.5em;
            }
            #comAuth {
                font-size: 25px;
                align-self: flex-end;
                margin-right: 6em;
            }
    /* Corps de page */
        #content {
            margin-top: 2em;
            display: flex;
            flex-direction: row;
        }
        #content section {
            width: 50%;
            padding: 1em;
            padding-top: 0;
        }
        .titreSection {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: $colorBanInf;
            padding: 0.25em;
            margin-bottom: 1em;
        }
        .titreSection h2 {
            font-size: 25px;
            text-align: center;
            padding: 0;
            margin: 0;
        }
        .imgTitre {
            width: 25px;
            height: 25px;
            background-image: url(/assets/css/img/woodStack.png);
        }
        /* Les actualités */
            #news {
                border-right: 10px solid $colorFont;
                border-image: url(/assets/css/img/hedge.jpg) 42 round stretch;
            }
            #newsList {
                text-align: center;
                list-style: circle;
            }
            #news p {
                text-align: center;
            }
        /* La section contact de l'accueil */
            /* Google Map */
                #map {
                    width: 100%;
                    height: 150px;
                    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                    margin-right: 1em;
                }
                #homeWhereContent {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    padding: 1em;
                }
                #coord h3 {
                    padding: 0;
                    margin: 0;
                }
                #coord {
                    text-align: center;
                }
                #contacting {
                    display: block;
                    text-align: center;
                    height: 110px;
                    background-image: url(/assets/css/img/contactGreen.png);
                    background-repeat: no-repeat;
                    background-position: bottom center;
                }
        /* Page de contact */
            .titrePage {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                background-color: $colorBanInf;
                margin-bottom: 1em;
                padding-top: 1em;
                padding-bottom: 1em;
            }
            .titrePage h2 {
                font-size: 40px;
                padding: 0;
                margin: 0;
                margin-left: 1em;
                margin-right: 1em;
            }
            #formContacter {
                width: 100%;
            }
            #formContact, #formMsgSubmit {
                display: flex;
                flex-direction: row;
            }
            #civil, #infoContact {
                display: flex;
                flex-direction: column;
                width: 50%;
                padding: 1em;
                align-items: center;
            }
            #civil div, #infoContact div {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
                width: 100%;
            }
            #txtMsg {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 1em;
                width: 75%;
            }
            #submitContact {
                width: 25%;
            }
            input {
                margin: 0.5em;
            }
            input[type=text] {
                background-color: white;
                border: none;
                padding: 0.25em;
                width: 65%;
            }
            textarea {
                background-color: white;
                border: none;
                margin: 1em;
            }
            #submitContact {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            #submitContact input[type=submit] {
                background-color: $colorBG;
                color: $colorFont;
                padding: 0;
                margin: 0;
                border: none;
                padding-top: 90px;
                background-image: url(/assets/css/img/contactGreen.png);
                background-repeat: no-repeat;
                background-position: top center;
            }
        /* Page de localisation */
            #whereContent {
                display: flex;
                flex-direction: row;
            }
            #whereContent #map {
                width: 75%;
                height: 300px;
                padding: 1em;
            }
            #coordsWhere {
                width: 25%;
                background-color: $colorTonique;
                padding: 1em;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        /* Galerie */
            .fancyImg {
                width: 100%;
            }
            .fancyGalery {
                width: 100px;
                height: 100px;
                overflow: hidden;
            }
        /* Actualités */
            #newsWrapper {
                width:100%;
            }
            #newsWrapper article {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-right: 25%;
                padding-left: 25%;
                padding-bottom: 1em;
                width: 50%;
            }
            .selectedNews {
                background-color: $colorTonique;
            }
        /* Valeurs & Services */
            #whoPage {
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 100%;
            }
            .whoArticle {
                width: 50%;
                padding: 1em;
                padding-top: 0;
            }
            #whoServices {
                background-color: $colorTonique;
            }

/* Media Queries */

    @media screen and (max-width: 1250px) {
        #titreGlobal {
            display: none;
        }
    }
    @media screen and (max-width: 1000px) {
        .menu-btn {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .responsive-menu {
            display: none;
        }
        .mobile-nav {
            margin-right: 5%;
        }
        #primaryMenu {
            background-position: 5% 5%;
        }
        #secondaryMenu {
            flex-wrap: wrap;
        }
    }
    @media screen and (max-width: 990px) {
        main {
            margin: 0;
            margin-top: 1em;
            padding: 1em;
        }
    }
    @media screen and (max-width: 810px) {
        main {
            padding: 0;
        }
    }
    @media screen and (max-width: 800px) {
        #comAuth {
            margin: 0;
        }
    }
    @media screen and (max-width: 780px) {
        #formContact, #formMsgSubmit {
            flex-direction: column;
        }
        #civil, #infoContact {
            margin: 0;
            padding: 0;
            width: 100%;
        }
        input[type=text] {
            width: 85%;
        }
        #txtMsg {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }
        #submitContact {
            display: flex;
            width: 100%;
            align-content: center;
        }
    }
    @media screen and (max-width: 750px) {
        footer {
            flex-direction: column;
        }
        footer div {
            width: 100%;
        }
        #banInfLeft {
            border-right: 0px solid black;
            border-bottom: 0.25em solid $colorTonique;
        }
        #banInfRight {
            padding: 1em;
        }
    }
    @media screen and (max-width: 720px) {
        #content {
            flex-direction: column-reverse;
        }
        #content section {
            width: 100%;
            padding: 0;
        }
        .titreSection {
            padding: 0;
        }
        #content #news {
            border-top: 10px solid $colorFont;
            border-right: none;
            padding-top: 1em;
        }
        #map {
            width: 100%;
            height: 175px;
        }
    }
    @media screen and (max-width: 620px) {
        #whereContent #map {
            display: none;
        }
        #coordsWhere {
            background-color: inherit;
        }
    }
    @media screen and (max-width: 450px) {
        #map {
            display: none;
        }
    }

